body {
  /*background-image: url(https://webstockreview.net/images/png-images-for-website-background-14.png);*/
}


/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #7CC357;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #7CC357;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}

body {
    background-image: linear-gradient(#fff, #fff);
    background-repeat-y: no-repeat;
    overflow-x: hidden
}

.card {
    padding: 50px;
    background-color: #7CC357;
    color: #fff
}

a {
    color: #fff
}

a:hover {
    color: #fff
}

.box {
    margin-bottom: 60px;
    margin-top: 20px
}

.form-control {
    border: none;
    margin-left: 0;
    background-color: #7CC357;
    color: #fff
}

input {
    border-bottom: 1px solid #fff !important;
    border-radius: 0 !important
}

::-webkit-input-placeholder {
    color: #7CC357 !important
}

::-moz-placeholder {
    color: #7CC357 !important
}

:-ms-input-placeholder {
    color: #7CC357 !important
}

:-moz-placeholder {
    color: #7CC357 !important
}

.form-head {
    padding-left: 10px;
    padding-right: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px
}

.custom-control-label {
    font-size: 14px !important
}

.get-input {
    padding-left: 0
}

button {
    color: #FFF !important;
    font-weight: bold !important;
    padding: 10px 20px 10px 20px !important;
    border-radius: 0 !important
}

button:hover {
    color: #666666 !important;
    background-color: #fff
}